---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dummy
spec:
  replicas: 2
  template:
    metadata:
      name: dummy
      labels:
        app: dummy
    spec:
      containers:
        - name: dummy
          image: portertech/dummy:1.2.0
          ports:
            - protocol: TCP
              containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: dummy
spec:
  selector:
    app: dummy
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
